@page
@model newhorizonmission_asp.net.Pages.Dispatches.FunStuffModel
@{
    ViewData["Title"] = "Fun Stuff";
}

<div class="jumbotron w3-container w3-center w3-animate-bottom">
    <h1 class="display-4">Fun Stuff</h1>
    <hr class="my-4">
    <p class="lead">
        These are some of the things I've worked on the past that are kind of embarassing now, but still
        kind of fun to see :)
    </p>
    <img class="d-block d-flex justify-content-center img-thumbnail title_image" src="~/images/zapp.jpg"
         alt="Zapp Image Not Found">
    <hr class="my-4">
    <p class="lead">
        This was the first version of Final Countdown I made. It was after term 2 and I was pretty
        pleased with myself, but I have since built a more sophistocated version 
        <a href="https://rwhite83-final-countdown.herokuapp.com/" class="hyperlight">here</a>.
    </p>
    <p class="lead">
        <a asp-area="" asp-page="Dispatches/FunStuff/FinalCountdown" class="hyperlight">
            Final Countdown</a>
    </p>
    <hr class="my-4">
    <p class="lead">
        This was my very first web dev class in first term. I was fortuanate in this class to have a
        teacher who didn't care what we did as long as we learned the intended lesson and I was able to do pages
        about things I care about like Star Trek and Futurama.
    </p>
    <p class="lead">This section is due to be reworked, please visit again.</p>
</div>

