@page
@model newhorizonmission_asp.net.Pages.Dispatches.ShortStoriesModel
@{
    ViewData["Title"] = "Short Stories";
}

<div class="jumbotron w3-container w3-center w3-animate-bottom">
    <h1 class="display-4">Short Stories</h1>
    <img class="d-block d-flex justify-content-center img-thumbnail title_image" src="~/images/stars.jpg"
         alt="Stars Image Not Found">
    <hr class="my-4">
    <p class="lead">
        These two I polished up to submit to a writing contest. It didn't work out, but I think they
        turned out pretty well regardless. I hope you enjoy them!
    </p>
    <hr class="my-4">
    <p class="lead">This one is called 'The Uğur Manoeuvre' and is about an odd experience dining in Istanbul.</p>
    <p class="lead">
        <a asp-area="" asp-page="/Dispatches/ShortStories/UgurManoeuvre" class="btn btn-primary" target="_top">
            The Uğur Manoeuvre</a>
    </p>
    <hr class="my-4">
    <p class="lead">
        This one is called 'The Greyhound Incident' and is about a a time when I... well maybe I
        shouldn't spoil it. It was certainly a day I'll never forget!
    </p>
    <p class="lead">
        <a asp-area="" asp-page="/Dispatches/ShortStories/GreyhoundIncident" class="btn btn-primary" target="_top">
            The Greyhound Incident</a>
    </p>
</div>

