@page
@model newhorizonmission_asp.net.Pages.NewHorizons.AboutModel
@{
    ViewData["Title"] = "About New Horizons";
}

<div class="jumbotron w3-container w3-center w3-animate-bottom">
    <h1 class="display-4">Come Aboard the New Horizons Mission</h1>
    <img class="d-block d-flex justify-content-center img-thumbnail title_image" src="~/images/gss.jpg"
         alt="GSS Image Not Found">
    <hr class="my-4">
    <p class="lead">
        The New Horizons trilogy is about a utopian vision of the future, a therapeutic thinking through
        of how it could all work out despite everything actually trending so negatively (and that was pre-Trump).
        It's set in Vancouver 150 years in the future, and focuses on a generational starship which leaves on a 150
        year journey to a distant neighbouring star.
    </p>
    <hr class="my-4">
    <p class="lead">
        I will write here at some point about the series as a whole, and what I was trying to accomplish
        with both trilogies.
    </p>
</div>

