@page
@model newhorizonmission_asp.net.Pages.NewHorizons.ContactModel
@{
    ViewData["Title"] = "New Horizons 05: Contact";
}

<div class="jumbotron w3-container w3-center w3-animate-bottom">
    <h1 class="display-4">New Horizons 05: Contact</h1>
    <img class="d-block d-flex justify-content-center img-thumbnail title_image" src="~/images/ship.jpg"
         alt="Ship Image Not Found">
    <hr class="my-4">
    <p class="lead amazon_btn">
    <p class="lead">
        This book is half written. This is the point at which I stopped writing. You're welcome to
        read what I have so far and offer your thoughts, maybe suggest where I might go with the story. I'd
        certainly be open to suggestions!
    </p>
    <a class="btn btn-primary btn-lg" href="05-contact/01-chapter1.html"
       role="button">Check out Contact</a>
    </p>
</div>

