@page
@model newhorizonmission_asp.net.Pages.NewHorizons.ReadModel
@{
    ViewData["Title"] = "Read New Horizons";
}

<div class="jumbotron w3-container w3-center w3-animate-bottom">
    <h1 class="display-4">Welcome!</h1>
    <hr class="my-4">
    <p class="lead">
        Later I will link out my full sales network. In the meantime, please enjoy the existing links
        from elsewhere.
    </p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-area="" asp-page="/NewHorizons/Reunion/Chapter01"
           role="button">Check out Reunion</a>
    </p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-area="" asp-page="/NewHorizons/Contact/Chapter01"
           role="button">Check out Contact</a>
    </p>
    <hr class="my-4">
    <p class="lead amazon_btn">
        <a class="btn btn-primary btn-lg"
           href="https://www.amazon.ca/Launch-New-Horizons-Book-1-ebook/dp/B00RQUS8T2/ref=sr_1_1?keywords=w.+ross+white&amp;qid=1565982846&amp;s=gateway&amp;sr=8-1"
           role="button">Check out Launch on Amazon</a>
    </p>
    <hr class="my-4">
    <p class="lead amazon_btn">
        <a class="btn btn-primary btn-lg"
           href="https://www.amazon.ca/Midway-W-Ross-White/dp/0994026528/ref=sr_1_5?keywords=w.+ross+white&amp;qid=1565982846&amp;s=gateway&amp;sr=8-5"
           role="button">Check out Midway on Amazon</a>
    </p>
    <hr class="my-4">
    <p class="lead amazon_btn">
        <a class="btn btn-primary btn-lg"
           href="https://www.amazon.ca/Arrival-W-Ross-White/dp/0994026544/ref=sr_1_3?keywords=w.+ross+white&amp;qid=1565982846&amp;s=gateway&amp;sr=8-3"
           role="button">Check out Arrival on Amazon</a>
    </p>
</div>