@page
@model newhorizonmission_asp.net.Pages.AboutRoss.ContactModel
@{
    ViewData["Title"] = "Contact Ross";
}

<div class="jumbotron w3-container w3-center w3-animate-bottom">
    <h1 class="display-4">Contact Me</h1>
    <hr class="my-4">
    <p class="lead">
        I'm gonna level with you. I'm mid recomboobulating this site content, so my social media links
        are in About Me currently, but should be here, so I need to do a bit of work teasing that page's content
        into two different pages. In the mean time, here's a button to email me! Enjoy!
    </p>
    <hr class="my-4">
    <p class="lead">
        <a href='mailto:williamroswhite@gmail.com?Subject=New Horizons' class="btn btn-primary"
           target="_top">Send Mail</a>
    </p>
</div>

