@page
@model newhorizonmission_asp.net.Pages.ChasingStars.ReadModel
@{
    ViewData["Title"] = "Read Chasing Stars";
}

<div class="jumbotron w3-container w3-center w3-animate-bottom">
    <h1 class="display-4">Read Chasing Stars</h1>
    <img class="d-block d-flex justify-content-center img-thumbnail title_image" src="~/images/stars.jpg"
         alt="Stars Image Not Found">
    <hr class="my-4">
    <p class="lead">This book has just begun, but as discussed elsewhere, it will be a full rewrite.</p>
    <hr class="my-4">
    <p class="lead">
        For more information on the direction I'm trying to go with this, checkout my most recent blog
        post <a asp-area="" asp-page="/Dispatches/Updates/Update_20200312"
                class="hyperlight">here</a>.
    </p>
    <hr class="my-4">
    <p class="lead">You can read the book as I write it below:</p>
    <p class="lead">
        <a asp-area="" asp-page="/ChasingStars/Launch/Chapter01" class="btn btn-primary" target="_top">
            Chapter 01
        </a>
        <a asp-area="" asp-page="/ChasingStars/Launch/Chapter02" class="btn btn-primary" target="_top">
            Chapter 02
        </a>
        <a asp-area="" asp-page="/ChasingStars/Launch/Chapter03" class="btn btn-primary" target="_top">
            Chapter 03
        </a>
    </p>
</div>

