<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl navbar-light w3-animate-left">
                <a class="navbar-brand" asp-area="" asp-page="/Index">W. Ross White</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">About Ross</a>
                            <div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item text-center" asp-area="" asp-page="/AboutRoss/AboutRoss">Ross in Short</a>
                                <a class="dropdown-item text-center" asp-area="" asp-page="/AboutRoss/Writer">Ross as Writer</a>
                                <a class="dropdown-item text-center" asp-area="" asp-page="/AboutRoss/Developer">Ross as Developer</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-center" asp-area="" asp-page="/AboutRoss/Contact">Contact Ross</a>
                                <a class="dropdown-item text-center" asp-area="" asp-page="/AboutRoss/Support">Support Ross</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown justify-content-center">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                New Horizons
                            </a>
                            <div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-area="" asp-page="/NewHorizons/About">About New Horizons</a>
                                <a class="dropdown-item" asp-area="" asp-page="/NewHorizons/Read">Read New Horizons</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-page="/NewHorizons/Launch">Book One: Launch</a>
                                <a class="dropdown-item" asp-area="" asp-page="/NewHorizons/Midway">Book Two: Midway</a>
                                <a class="dropdown-item" asp-area="" asp-page="/NewHorizons/Arrival">Book Three: Arrival</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-page="/NewHorizons/Reunion">Book Four: Reunion</a>
                                <a class="dropdown-item" asp-area="" asp-page="/NewHorizons/Contact">Book Five: Contact</a>
                                <a class="dropdown-item" asp-area="" asp-page="/NewHorizons/Evolution">Book Six: Evolution</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">Chasing Stars</a>
                            <div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/content/chasing-stars/about-chasing-stars.html">About Chasing Stars</a>
                                <a class="dropdown-item" href="/content/chasing-stars/read-chasing-stars.html">Read Chasing Stars</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/content/chasing-stars/01-launch.html">Book One: Launch</a>
                                <a class="dropdown-item" href="/content/chasing-stars/02-midway.html">Book Two: Midway</a>
                                <a class="dropdown-item" href="/content/chasing-stars/03-reunion.html">Book Three: Arrival</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">Dispatches from the Void</a>
                            <div class="dropdown-menu w-100" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item text-center" href="/content/dispatches-from-the-void/updates-blog.html">Updates Blog</a>
                                <a class="dropdown-item text-center" href="/content/dispatches-from-the-void/short-stories.html">Short Stories</a>
                                <a class="dropdown-item text-center" href="/content/dispatches-from-the-void/travelogue.html">Travelogue</a>
                                <a class="dropdown-item text-center" href="/content/dispatches-from-the-void/fun-stuff.html">Just for Fun</a>
                            </div>
                        </li>
                    </ul>
                </div>
        </nav>
        @*
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
        *@
    </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    @*
            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2020 - newhorizonmission_asp.net - <a asp-area="" asp-page="/Privacy">Privacy</a>
                </div>
        </footer>
    *@


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
